@model Lab03Canada.Models.Places.Cities

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Province.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CitiesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
